.SignUpContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SignUpForm {
  width: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  outline: solid 1px black;
  padding: 10px;
}
